@import "../abstractions/flex_mixins";
@import "../variables/breakpoints";
@import "../variables/colors";


.nav {
  background-color: $white;
}

.nav-bar {
  @include flexbox();
  @include justify-content(space-between);
  margin: 0 auto;
  width: $widedesk;
}
.menu {
  @include flexbox();


  &__item {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    list-style: none;
  }

  &__link {
    width: 100%;
    padding: 30px 0;
    text-decoration: none;
    color: $grey-blue;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
  }

  &__item:not(:last-child) {
    margin-right: 24px;
  }
}

.logo {
  width: 180px;
  display: block;
  padding: 30px 0;

  &__image {
    object-fit: contain;
  }
}
.schedule-bar {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  background-color: $grey;
  opacity: .9;

  &__wrapper {
    @include flexbox();
    margin: 0 auto;
    width: $widedesk;
    color: $grey-blue;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }

  &__description {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    color: $grey-blue;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

    &::after {
      content: '';
      display: block;
      width: 35px;
      height: 16px;
      border-right: 2px solid $grey-dark;
    }
  }

  &__link {
    padding: 20px 35px;
    text-decoration: none;
    font-weight: 700;
    color: inherit;
  }
}
.banner {
  position: relative;
  background: $grey-blue url("../../../images/home_banner.svg") no-repeat right -425px bottom;
  background-size: 64%;
  padding: 160px 0;

  &__container {
    margin: 0 auto;
    padding: 0 15px;
    width: $widedesk;
    color: $white;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
  }


  &__description {
    width: 47%;
  }


  &__title {
    color: $orange;
    font-size: 60px;
    font-weight: 400;
    line-height: 70px;
    width: 47%;
  }
}
