@import "../abstractions/flex_mixins";
@import "../variables/breakpoints";
@import "../variables/colors";

.visitors {
  position: relative;
  margin: 100px 0;

  &__title {
    text-align: center;
    background-color: $grey;
    width: 100%;
    padding-bottom: 25px;
    color: $grey-blue;
    font-size: 80px;
    line-height: 104px;
  }

  &__wrapper {
    @include flexbox();
    background-color: $grey-blue;
    width: 100%;
    height: 100%;
    color: $blue-dark;
    font-size: 18px;
    line-height: 23px;

    .learn-more-link {
      position: absolute;
      bottom: 20px;
      right: 20px;
      padding: 17.5px;
      border-radius: 50%;
      max-width: 20px;
      display: block;
      background: $white url("../../../images/arrow-right.svg") no-repeat center center;
    }

  }

  &__list {
    width: 50%;

    h3 {
      margin-bottom: 25px;
      font-size: 24px;
      line-height: 31px;
    }

    @include flexbox();
    @include flex-wrap(wrap);
  }

  &__item {
    width: 50%;
  }
}

  .card {
    height: 100%;
    padding: 30px;
  }

  .applicants-card {
    position: relative;
    width: 50%;

    background:
            no-repeat left bottom url("../../../images/white-shape.svg"),
            no-repeat left bottom url("../../../images/green-shape.svg"),
            no-repeat right bottom url("../../../images/yellow-shape.svg");

    padding: 30px 0 0 30px;

    &__title {
      color: $white;
      font-size: 36px;
      line-height: 47px;
      margin-bottom: 25px;
    }

  }

  .students-card {
    position: relative;

    &__title {
      color: $white;
    }

    &__description {
      margin-bottom: 40px;
    }
  }

  .for-company-card{
    position: relative;
    background-color: $blue-dark;
    color: $grey-blue;

    &__description {
      margin-bottom: 40px;
    }

  }

  .science-card {
    position: relative;
    background-color: $orange;
    color: $grey-blue;

    &__description {
      margin-bottom: 40px;
    }
  }

  .about-card{
    position: relative;
    height: 100%;

    &::before {
      content: "";
      background-image: url("../../../images/people.png");
      background-size: cover;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.15;
    }

    &__description {
      margin-bottom: 40px;
    }

    &__title {
      color: $white;
    }

  };


