// 1em = 16px
$mobile: 22em; // 352px
$widemob: 30em; // 480px
$widestmob: 38.125em; // 610px
$tab: 48em; // 768px
$desk: 61em; // 976px
$mediumdesk: 69.5em; // 1112px
$widedesk: 75em; // 1200px
$widestdesk: 87.5em; // 1400px
$largestdesk: 100em; // 1600px
