$white: #FFF;
$black: #000;
$grey: #E5E5E5;

$yellow: #EBAE34;
$yellow-dark: #ECAB33;

$grey-bg: #002C40;
$grey-blue: #102D40;
$grey-blue-dark: #0F2E40;
$grey-blue-darkest: #0C2736;

$dark: #05161F;

$grey-dark: #42454F;
$grey-darkest: #494B52;

$blue-green: #005164;
$blue-green-dark: #005063;

$blue: #66CBFF;
$blue-dark: #84CDE4;

$green: #98CB98;
$green-light: #BFD785;

$orange: #E56606;
$orange-dark: #FF6633;
$orange-pale: #E46606;

